<%- include ("partials/header.ejs") %>

<body class="posts-body">

<button id="openModalBtn" class="open-btn">Create New Post</button>

<div class="vine-container left-vine"></div>
<div class="vine-container right-vine"></div>

<div id="modalOverlay" class="overlay hidden">
    <div id="modal" class="modal card-anim">
        <h2 class="modal-title">Create a New Post</h2>

        <form action="/post" method="POST" class="modal-form">
            <div class="input-group">
                <label for="author">Author</label>
                <input type="text" id="author" name="author" placeholder="Author's name" required>
            </div>

            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Post title" required>
            </div>

            <div class="input-group">
                <label for="content">Content</label>
                <textarea id="content" name="content" placeholder="Write your thoughts here, little hobbit..." maxlength="500" required></textarea>
            </div>

            <button type="submit" class="submit-btn">Publish</button>
        </form>

        <button id="closeModalBtn" class="close-btn">Cancel</button>
    </div>
</div>


<% if (posts.length === 0) { %>
        <div class="placeholder no-posts">
            Nothing to see here yet...  
        </div>
    <% } %>


<div class="posts-container">
    <% posts.forEach(function(post) { %>
        <div class="post" id="post-<%= post.id %>">
            <h2 class="postTitle"><%= post.title %></h2>
            <p class="author"><em>by <b><%= post.author %></b></em></p>
            <p class="content">"<%= post.content %>"</p>
            <button class="deleteButton" data-id="<%= post.id %>">Delete</button>
            <hr class="postsHr">
        </div>
    <% }); %>
</div>



<div id="custom-confirm" class="modal-delete hidden">
  <div class="modal-center">
    <div class="modal-content shire-modal">
      <h2 class="shire-modal-title">Destruction confirmation</h2>
      <p class="shire-modal-text">¿Send this post to Mount Doom?</p>

      <div class="buttons">
        <button id="cancel-btn" class="shire-btn-cancel">Keep it</button>
        <button id="confirm-btn" class="shire-btn-confirm">Destroy it</button>
      </div>
    </div>
  </div>
</div>








<%- include ("partials/footer.ejs") %>